@import 'typography';
@import 'forms';
@import 'variables';
@import '../components/search/search';
@import '../components/nav/nav';
@import '../components/weekly-display/weekly-display';
@import '../views/tryitout/tryitout';
@import '../views/dashboard/dashboard';

html {
    position: relative;
    min-height: 100%;
}

body.home,
body.about,
body.login,
body.register,
body.tryitout {
  font-family: 'Oswald', sans-serif;
  // height: 100%;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  color: white;
  background: url('/photocase0tmfuqa43.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.viewcontainer {
  position: relative;
  overflow: auto;
  padding: 30px;
  margin: 50px 0 0 0;
}

body.dashboard .viewcontainer {
  margin: 50px 0 0 200px;
  height: 100%;
}

body.dashboard {
  font-family: 'Oswald', sans-serif;
  // height: 100%;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  color: white;
  background: url('/backgrounddash.jpg') no-repeat center center fixed;
  // background: url('/backgrounddash1.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

body.dashboard weekly-display {
  display: block;
}

weekly-display {
  display: none;
}

mark {
  background-color: #97abb1;
}

li {
  list-style: none;
  text-align: center;
  text-decoration: none;
}

.footer {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;

  @media(min-width: $small) {
    display: block;
  }

  > .container
  {
    padding-right: 15px;
    padding-left: 15px;
  }

  .text-muted {
    margin: 20px 0;
    color: white;
  }
}

.well {
    background-color: rgba(0,0,0,.5);
    box-shadow: 3px 3px 10px rgba(0,0,0,.5);
}
