@import 'variables';
@import 'typography';
@import 'forms';
@import '../components/search/search';
@import '../components/nav/nav';
@import '../components/food-list/food-list';
@import '../views/tryitout/tryitout';
@import '../views/dashboard/dashboard';

html {
    position: relative;
    min-height: 100%;
}

body {
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: aliceblue;
}

body.home,
body.about,
body.login,
body.register,
body.tryitout {
  background: url('/photocase0tmfuqa43.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.landing {
  margin-top: 60px;
  padding: 30px;
}

.ui-view {
  overflow: scroll;
  height: 100%;
}

.layout-container {
  margin-top: $primary-nav-height;
  .main-content-container {
    padding: 2rem;
  }
}

mark {
  background-color: #97abb1;
}

li {
  list-style: none;
  text-align: center;
  text-decoration: none;
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.footer {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;

  @media(min-width: $small) {
    display: block;
  }

  > .container
  {
    padding-right: 15px;
    padding-left: 15px;
  }

  .text-muted {
    margin: 20px 0;
    color: white;
  }
}

.well {
    background-color: rgba(0,0,0,.5);
    box-shadow: 3px 3px 10px rgba(0,0,0,.5);
}

.md-tooltip {
  margin-top: -10px;
}
