<!-- HTML page attached to ABOUT tab -->
<div>
  <h2>Vegan? Gluten-Free? "See"food Diet?</h2>
  <h2>THAT'S NOT US!</h2>
  <h3>We are searching for the best way to track your daily nutritional needs
      regardless of your current eating preferences. We want to help you fill
      in the gaps based on the nutritional information of the foods you
      currently consume.</h3>
  <h3>Did you just eat a delicious and unhealthy cheeseburger from your fav spot?</h3>
  <h3>Your choice...no biggie...</h3>
  <h3>...but did it have enough calcium or vitamin B to keep you going?...</h3>
  <h2>Let us help you track these key aspects of your eating habits!</h2>
</div>
