<div class="truffl-navbar navbar navbar-default navbar-fixed-top" ng-controller="navCtrl as nav">
  <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TRUFFL&reg;</a>
  </div>
  <center>
      <nav class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li ng-click="nav.toggleNav()"
                ng-hide="nav.isAuthed()"
                ng-class="{'active': nav.isCurrentRoute('home')}">
              <a ui-sref="home">Home</a>
            </li>
            <li ng-click="nav.toggleNav()"
                ng-hide="nav.isAuthed()"
                ng-class="{'active': nav.isCurrentRoute('about')}">
              <a ui-sref="about">About Us</a>
            </li>
            <li ng-click="nav.toggleNav()"
                ng-show="nav.isAuthed()"
                ng-class="{'active': nav.isCurrentRoute('dashboard')}">
              <a ui-sref="dashboard">Dashboard</a>
            </li>
            <li ng-click="nav.toggleNav()"
                ng-hide="nav.isAuthed()"
                ng-class="{'active': nav.isCurrentRoute('tryitout')}">
              <a ui-sref="tryitout">Try it Out</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-click="nav.toggleNav()"
                ng-hide="nav.isAuthed()"
                ng-class="{'active': nav.isCurrentRoute('login')}">
              <a ui-sref="login">login&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </li>
            <li ng-click="nav.toggleNav()"
                ng-show="nav.isAuthed()">
              <a ng-click="nav.logout()">logout</a>
            </li>
          </ul>
      </nav>
  </center>
</div>
