.signup {
  label {
    color: white;
  }

  form {
    color: white;
  }

  legend {
    color: white;
  }

  .row, form > .form-control {
    margin: 5px 0;
  }

  .col-no-pad {
    padding: 0;
  }

  .row > div:first-child {
    padding-right: 5px;
  }

  .row > div:last-child {
    padding-left: 5px;
  }
}
