.dashboard {

  .well.suggestion {
    color:#505561;
    background-color: white;
  }

  .well.main-content {
    color:#505561;
    background-color: white;
  }

  h2 {
    color: #505561;
  }

  .well {
    background-color: white;
    // color: #505561;
  }

  table {
    background-color: rgba(83, 72, 79, .9);
  }

  $line-width: 80px;
  $line-height: 40px;

  .line-container {
    position: relative;
    display: inline-block;
    width: $line-width;
    height: $line-height;
    margin: 0 1em;
  }

  #line-1,
  #line-2,
  #line-3,
  #line-4 {
    width: $line-width;
    height: $line-height;
  }

  label.sidebarcontent {
    font-size: 12px;
  }

  $circle-width: 75px;
  $circle-height: 75px;

  .circle-container {
    position: relative;
    display: inline-block;
    width: $circle-width;
    height: $circle-height;
    margin: 0 1em;
  }

  // .dashboard.well.ng-scope {
  //   margin-left: 16.5%;
  // }

  // Dynamic circle CSS
  #circle-1,
  #circle-2,
  #circle-3,
  #circle-4 {
    width: $circle-width;
    height: $circle-height;
  }

  .graphs {
    margin: 20px 0;
  }

  .content {
    position: absolute;
    transform: translate3d(0, -50%, 0);
    margin-top: -50%;
    text-align: center;
    width: $circle-width;
  }

  .sidebarcontent {
    font-size: 12px;
  }

  table td {
    font-size: 0.5em;

    @media(min-width: $small) {
      font-size: 1em;
    }
  }

  .complete svg path:last-child {
    stroke: red;
  }


// Begin styling for sidebar

#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}
#main-wrapper {
    height: 100%;
    overflow-y: auto;
    // padding: 50px 0 0px 0;
}
#main {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
}
#sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
    position: fixed;
    border-right: 1px solid gray;
}
#sidebar {
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding-top: 40px;
    background-color: rgba(0, 0, 0, 0.66);
}
#sidebar .list-group-item {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
}
@media (max-width: 992px) {
    body {
        padding-top: 0px;
    }
}

@media (max-width: 992px) {
    #main-wrapper {
        padding-top: 0px;
    }
}
@media (max-width: 992px) {
    #sidebar-wrapper {
        position: static;
        height:auto;
        max-height: 300px;
  		border-right:0;
	}
}



ul, ol {
  list-style: none;
}
#accordion1 li.panel{
    margin-bottom: 0px;
}

.complete-graphs {
  display: block;

  .main-category {
    width: 40%;
    margin: 15px;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.31);
  }

  .category-title {
    font-size: 110%;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .table-row {
    margin: 7px;
  }
}

.navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}








}
