<div ng-controller="DashboardCtrl as ctrl" class="dashboard">
  <div class="well suggestion" ng-if="ctrl.suggestions.lowVitamin.name">
    <p ng-repeat="(type, suggestionObj) in ctrl.suggestions">
      You seem to be low on {{suggestionObj.name}}, you are at {{ctrl.round(suggestionObj.value*100)}}% of your Daily Value. {{suggestionObj.suggestion}}
    </p>
  </div>
  <div class="well main-content">
      <div class="navigation">
        <a ng-click="ctrl.previousDay()"><i class="material-icons">chevron_left</i></a>
        <a ng-if="!ctrl.isToday" ng-click="ctrl.nextDay()"><i class="material-icons">chevron_right</i></a>
      </div>
      <h2>{{ctrl.currentDate | toMoment}}</h2>
      <!-- Container for dynamic circle graphics -->
      <div class="graphs">
          <div class="circle-container" ng-repeat="n in ctrl.nutrientsToGraph">
              <div id="{{n}}" ng-class="{'complete': ctrl.percents[n] >= 1 }"></div>
              <div class="content">
                  {{n | nutrientDisplayName}}<br /> {{ ctrl.round(ctrl.totals[n][0]) + ctrl.totals[n][1]}}
              </div>
          </div>
      </div>

      <div class="complete-graphs">
        <div class="main-category" ng-repeat="(nutrientName, nutrientDataArray) in ctrl.totals" ng-if="!nutrientDataArray[0] && nutrientDataArray[0] !== 0">
          <div class="category-title">
            {{nutrientName | nutrientDisplayName}}
          </div>
          <div class="category-table" ng-repeat="(innerNutrientName, innerNutrientDataArray) in nutrientDataArray" ng-if="!nutrientDataArray[0] && nutrientDataArray[0] !== 0">
            <div class="table-row">
              {{innerNutrientName | nutrientDisplayName}}
              <span>{{': ' + ctrl.round(innerNutrientDataArray[0]) + innerNutrientDataArray[1] }} </span>
              <md-progress-linear md-mode="determinate" value="{{(innerNutrientDataArray[0]/ctrl.nutrientAllowances[innerNutrientName]) *100}}"></md-progress-linear>
            </div>
          </div>
        </div>
      </div>

      <div class="blank-slate" ng-hide="ctrl.totals.energy.length">
        It looks like you don't have any food today! Add food using the search box on the left.
      </div>


  </div>
</div>
