<div ng-controller="DashboardCtrl as ctrl">

<div class="dashboard well main-content">

    <h2>MAKING THE WORLD A BIT HEALTHIER...ONE SUGGESTION AT A TIME!&trade;</h2>
    <!-- Container for dynamic circle graphics -->
    <div class="graphs">
        <div class="circle-container">
            <div id="circleone" ng-class="{'complete': ctrl.caloriePercent >= 1 }"></div>
            <div class="content">
                Calories<br /> {{ ctrl.round(ctrl.totals.Energy[0]/4.168) }}
            </div>
        </div>
        <div class="circle-container">
            <div id="circletwo" ng-class="{'complete': ctrl.proteinPercent >= 1 }"></div>
            <div class="content">
                Protein<br /> {{ ctrl.round(ctrl.totals.Protein[0]) + ctrl.totals.Protein[1] }}
            </div>
        </div>
        <div class="circle-container">
            <div id="circlethree" ng-class="{'complete': ctrl.vcPercent >= 1 }"></div>
            <div class="content">
                Vitamin C<br /> {{ ctrl.round(ctrl.totals["Vitamin C, total ascorbic acid"][0]) + ctrl.totals["Vitamin C, total ascorbic acid"][1] }}
            </div>
        </div>
        <div class="circle-container">
            <div id="circlefour" ng-class="{'complete': ctrl.calciumPercent >= 1 }"></div>
            <div class="content">
                Calcium<br /> {{ ctrl.round(ctrl.totals["Calcium, Ca"][0]) + ctrl.totals["Calcium, Ca"][1] }}
            </div>
        </div>
        <div class="circle-container">
            <div id="circlefive" ng-class="{'complete': ctrl.ironPercent >= 1 }"></div>
            <div class="content">
                Iron <br /> {{ ctrl.round(ctrl.totals["Iron, Fe"][0]) + ctrl.totals["Iron, Fe"][1] }}
            </div>
        </div>
    </div>








    <!-- File that contains and displays md autocomplete search bar -->
    <div ng-include="'components/search/search.html'"></div>

    <!-- Table populates results from clicked foods from search bar -->
    <table class="table table-bordered" ng-if="ctrl.dailyFoods.length">
        <tbody>
            <tr>
                <td>Name</td>
                <!-- <td ng-repeat="name in ctrl.titles">{{name}}</td> -->
                <td>Remove?</td>
            </tr>
            <tr ng-repeat="item in ctrl.dailyFoods">
                <td>{{item.name}}</td>
                <!-- <td>  {{ item.date | date: "shortDate" }}</td> -->
                <!-- <td ng-repeat="(key,value) in item">{{val}}</td> -->
                <td><button class="remove" ng-click="ctrl.removeFood(item,$index)">X</button></td>
            </tr>
        </tbody>
    </table>
</div>
</div>
  </div>
