.home {

  table {
    background-color: rgba(83, 72, 79, .9);
  }

  // .table-bordered-totals {
  //   width: 200px;
  //   margin: 20px auto;
  // }
  
  #container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}
}
