<!-- searchCtrl is in charge of md autocomplete search bar -->
<div class="home" ng-controller="searchCtrl as search">
    <h2>MAKING THE WORLD A BIT HEALTHIER...ONE SUGGESTION AT A TIME!</h2>

<!-- Table keeps running tally of column values -->
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    Calories
                </td>
                <td>
                    Vitamin C
                </td>
            </tr>

            <tr>
                <!-- <td ng-repeat="item in ctrl.dailyFoods"
                    ng-init="ctrl.dailyFoods.calValue = ctrl.dailyFoods.calValue + item.nf_calories">
                    {{ ctrl.dailyFoods.calValue }}
                </td> -->
                <td>
                    {{ search.totalCal }}
                </td>
                <td>
                    {{ search.vitC }} % DV
                </td>
            </tr>
        </tbody>
    </table>
<!-- File that contains and displays md autocomplete search bar -->
    <div ng-include="'components/search/search.html'"></div>
<!-- Table populates results from clicked foods from search bar -->
    <table class="table table-bordered" ng-show="ctrl.dailyFoods.length">
        <tbody>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Calories
                </td>
                <td>
                    Vitamin C
                </td>
                <td>
                    Remove?
                </td>
            </tr>

            <tr ng-repeat="food in ctrl.dailyFoods">
                <td>{{food.item_name}}</td>
                <td>{{food.nf_calories}}</td>
                <td>{{food.nf_vitamin_c_dv}}% DV</td>
                <td><button class="remove" ng-click="ctrl.removeFood(food,$index)">X</button></td>
            </tr>


        </tbody>
    </table>
</div>
