.search md-content {
  background: transparent; }

.search md-autocomplete {
  display: inline-block;
  width: 90%; }

.search .md-button {
  height: 39px;
  border-radius: 2px;
  margin: 0; }

.navbar {
  padding: 0 20px;
  border-bottom-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.66); }

.navbar-default .navbar-brand {
  color: white; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #a74b32; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #a0c380; }

.navbar-default .navbar-nav > li > a {
  color: white; }

.active > a {
  background-color: blue; }

.navbar navbar-default navbar-fixed-top ng-scope {
  padding: 10px; }

@media (max-width: 910px) {
  .navbar-header {
    float: none; }
  .navbar-left,
  .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collapse.in {
    display: block !important; } }

#navbar-main {
  padding: 0 20px; }

@media only screen and (max-width: 766px) {
  .collapsing,
  .in {
    background-color: #f7f7f7; }
  .collapsing ul li a,
  .in ul li a {
    color: #555 !important; }
  .collapsing ul li a:hover,
  .in ul li a:hover {
    color: #f1f1f1 !important; } }

.tryitout table {
  background-color: rgba(83, 72, 79, 0.9); }

.tryitout .circle-container {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 75px;
  margin: 0 1em; }

.tryitout #circle-1,
.tryitout #circle-2,
.tryitout #circle-3,
.tryitout #circle-4 {
  width: 75px;
  height: 75px; }

.tryitout .graphs {
  margin: 20px 0; }

.tryitout .content {
  position: absolute;
  transform: translate3d(0, -50%, 0);
  margin-top: -50%;
  text-align: center;
  width: 75px; }

.tryitout table td {
  font-size: 76%; }
  @media (min-width: 376px) {
    .tryitout table td {
      font-size: 100%; } }

.signup label {
  color: white; }

.signup form {
  color: white; }

.signup legend {
  color: white; }

.signup .row, .signup form > .form-control {
  margin: 5px 0; }

.signup .col-no-pad {
  padding: 0; }

.signup .row > div:first-child {
  padding-right: 5px; }

.signup .row > div:last-child {
  padding-left: 5px; }

h2 {
  text-align: center;
  color: white; }

p {
  text-align: center; }

input,
button,
select,
textarea {
  color: #999; }

@media (max-width: 767px) {
  h2 {
    font-size: 18px; }
  h3 {
    font-size: 18px; } }

html {
  position: relative;
  min-height: 100%; }

body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  color: white;
  background: url("/photocase0tmfuqa43.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
  body > .container {
    padding: 85px 15px 0 15px;
    height: 100%;
    overflow: auto; }

mark {
  background-color: #97abb1; }

li {
  list-style: none;
  text-align: center;
  text-decoration: none; }

.footer {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%; }
  @media (min-width: 376px) {
    .footer {
      display: block; } }
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px; }
  .footer .text-muted {
    margin: 20px 0;
    color: white; }

.well {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); }
