<div>
  <h4>Nov 20 - Nov 26</h4>
  <p>Calories <md-progress-linear md-mode="determinate" value="{{90}}"></md-progress-linear></p>
  <p>Protein <md-progress-linear md-mode="determinate" value="{{65}}"></md-progress-linear></p>
  <p>Carbohydrates<md-progress-linear md-mode="determinate" value="{{65}}"></md-progress-linear></p>
  <p>Lipds(fats)<md-progress-linear md-mode="determinate" value="{{75}}"></md-progress-linear></p>
  <p>Water<md-progress-linear md-mode="determinate" value="{{22}}"></md-progress-linear></p>
  <p>Vitamins<md-progress-linear md-mode="determinate" value="{{33}}"></md-progress-linear></p>
  <p>Minerals<md-progress-linear md-mode="determinate" value="{{45}}"></md-progress-linear></p>
</div>
