.search {
  md-content {
    background: transparent;
  }
  md-autocomplete {
    display: inline-block;
    width: 90%;
  }
  .md-button {
    height: 39px;
    border-radius: 2px;
    margin: 0;
  }
}
