<div ng-controller="SearchCtrl as ctrl"
     class="search"
     ng-cloak>
  <md-content>
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
         ng-disabled="ctrl.isDisabled"
         md-no-cache="ctrl.noCache"
         md-selected-item="ctrl.selectedItem"
         md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
         md-search-text="ctrl.searchText"
         md-selected-item-change="ctrl.selectedItemChange(item)"
         md-items="item in ctrl.querySearch(ctrl.searchText)"
         md-item-text="item.fields.item_name"
         md-min-length="3"
         placeholder="Search for food">
       <md-item-template>
         <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.fields.item_name}}</span>
       </md-item-template>
       <md-not-found>
         We found none of that foods. Add it to your reciepe book <a href="#">here</a>!
       </md-not-found>
      </md-autocomplete>
      <md-input-container flex>
        <md-button class="md-raised" aria-label="Eat cake" ng-click="ctrl.addFood()">Add</md-button>
      </md-input-container>
    </form>
  </md-content>
</div>
