<div>
  <br />
  <br />
  <br />  <br />
    <br />

  <h2>MAKING THE WORLD A BIT HEALTHIER...ONE SUGGESTION AT A TIME!</h2>
  <br />
  <br />
  <!-- <h2>{{ctrl.currentSuggestion}}</h2> -->

  <!-- <select id="mySelect"
    ng-model="ctrl.currentNutrChoice"
    ng-options="choice.name for choice in ctrl.data">
  </select>

  <table class="table table-bordered">
    <tbody>
      <tr ng-repeat="(key,value) in ctrl.currentNutrChoice">
        <td>
          {{key}}
        </td>
        <td>
          {{value}}
        </td>
      </tr>
      <tr>
        <button ng-click="ctrl.addFood()">Add</button>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered">
    <tbody>
      <tr ng-repeat="food in ctrl.dailyFoods">
        <td>{{food.name}}</td>
        <td>{{food.calories}}</td>
      </tr>
    </tbody>
  </table>
</div> -->
<div ng-controller="Autocompleter as auto">
            <section class="searchBox">
                <input type="text" ng-model="auto.searchTerm" ng-keyup="auto.doSearch()"/>
                <div class="searchDropdown">
                    <ul>
                        <li ng-repeat="data in auto.searchData">
                            <p ng-repeat="attrs in data">
                                {{ attrs.food_name }}
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>




<!-- <div>
  <input type="text" placeholder="What food are we looking for today?" ng-model="ctrl.query" />
  <button type="button" ng-click="ctrl.getResults()">Search</button><br />
    <select ng-options="ctrl.Name for ctrl in item.fields.item_name" ng-model="ctrl.query"></select>
</div>
<div>
  <h3 ng-repeat="item in ctrl.results.hits">
    {{ item.fields.brand_name }}
    {{ item.fields.item_name }} <br />
    {{ item.fields.nf_calories }} Calories
  </h3>
</div> -->
