<!-- searchCtrl is in charge of md autocomplete search bar -->
<div class="tryitout well" ng-controller="TryItOutCtrl as ctrl">
  <h2>MAKING THE WORLD A BIT HEALTHIER...ONE SUGGESTION AT A TIME!&trade;</h2>


<!-- Container for dynamic circle graphics -->
  <div class="graphs">
    <div class="circle-container">
      <div id="circleone" ng-class="{'complete': ctrl.caloriePercent >= 1 }"></div>
      <div class="content">
        Calories<br />
      {{ ctrl.totals.calories }}
      </div>
    </div>
    <div class="circle-container">
      <div id="circletwo" ng-class="{'complete': ctrl.proteinPercent >= 1 }"></div>
      <div class="content">
        Protein<br />
      {{ ctrl.totals.protein }}g
      </div>
    </div>
    <div class="circle-container">
      <div id="circlethree" ng-class="{'complete': ctrl.vcPercent >= 1 }"></div>
      <div class="content">
        Vitamin C<br />
      {{ ctrl.totals.vc }}%
      </div>
    </div>
    <div class="circle-container">
      <div id="circlefour" ng-class="{'complete': ctrl.calciumPercent >= 1 }"></div>
      <div class="content">
        Calcium<br />
      {{ ctrl.totals.calcium }}%
      </div>
    </div>
    <div class="circle-container">
      <div id="circlefive" ng-class="{'complete': ctrl.ironPercent >= 1 }"></div>
      <div class="content">
        Iron <br />
       {{ ctrl.totals.iron }}%
      </div>
    </div>
  </div>

<!-- File that contains and displays md autocomplete search bar -->
  <div ng-include="'components/search/search.html'"></div>

<!-- Table populates results from clicked foods from search bar -->
  <table class="table table-bordered" ng-show="ctrl.dailyFoods.length">
    <tbody>
      <tr>
        <td>Name</td>
        <td>Calories</td>
        <td>Protein</td>
        <td>Vitamin C</td>
        <td>Calcium</td>
        <td>Iron</td>
        <td>Remove?</td>
      </tr>
      <tr ng-repeat="food in ctrl.dailyFoods">
        <td>{{food.item_name}}</td>
        <td>{{food.nf_calories}}</td>
        <td>{{food.nf_protein}}g</td>
        <td>{{food.nf_vitamin_c_dv}}% DV</td>
        <td>{{food.nf_calcium_dv}}% DV</td>
        <td>{{food.nf_iron_dv}}% DV</td>
        <td><button class="remove" ng-click="ctrl.removeFood(food,$index)">X</button></td>
      </tr>
    </tbody>
  </table>
</div>
